<html>

{% extends 'base.html' %}
{% block content %}

<body>
    <br>

    <div style="height: 200px;
    width: 100%;">
        <div style="background-image:
    url('https://image.shutterstock.com/image-photo/plastic-red-party-cups-row-260nw-644091835.jpg'); height: 250px;
    width: 100%;">
            <h1 style="color:black; font-weight: bold;">
                <p>CHECK YOURSELF</p>
                <p>BEFORE</p>
                <p>YOU WRECK YOURSELF.</p>
            </h1>
        </div>
    </div>

    <br style=“line-height:2";></br>

    <div>
        <pre style="color:white"><em>
A quick guide to fostering healthier alcohol consumption habits,
created by college students for college students.</em></pre>
    </div>

    <p></p>

    <a class="btn btn-primary" href="{{url_for('bac_calculator')}}" role="button">Get Started</a>

</body>

{% endblock %}>

</html>