<html>

{% extends 'base.html' %}
{% block content %}

<body>
    <h1>Tips</h1>
    <div class="mx-auto">

        <pre style="font-size: auto; color:white">IT'S WHAT YOU DRINK AND HOW YOU DRINK IT.</pre>

    </div>
    </div>

    <br style=“line-height:1";></br>

    <div>
        <div class="card-deck" style="color:black">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">PREPARE EARLY.</h2>
                    <h6 class="card-subtitle mb-2 text-muted"><em>The game before the pre-game.</em></h6>
                    <p class="card-text">Set yourself up for success by eating a hearty meal.
                        And
                        yes,
                        go for <em>ALL</em> of the carbs. If you’re already gonna use a cheat day, make it count!
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">PACE YOURSELF.</h2>
                    <h6 class="card-subtitle mb-2 text-muted"><em>Ride the wave, not the ambulance.</em>
                    </h6>
                    <p class="card-text">Once you've found your optimal buzz, stay there! Drinking games can be
                        fun, but don’t be that guy who
                        doesn't make it out of the pre-game. </p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">TAKE CHARGE.</h2>
                    <h6 class="card-subtitle mb-2 text-muted"><em>BYOB: be your own bartender.</em></h6>
                    <p class="card-text">Look after your drink so that: <p><em>(1) you know what to get next
                                time</em>
                        </p>
                        <p><em>(2) you CAN have a next time</em></p>
                    </p>
                </div>
            </div>
        </div>

        <p>

        </p>

        <div class="card-deck" style="color:black">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">HOMIES FIRST.</h2>
                    <h6 class="card-subtitle mb-2 text-muted"><em>"Take care of yourselves, and each other."</em>
                    </h6>
                    <p class="card-text">Check in on your friends frequently. Two brains are greater than one,
                        especially when neither is working at 100%
                        efficiency.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">STAY HYDRATED.</h2>
                    <h6 class="card-subtitle mb-2 text-muted"><em>Save beer, drink water.</em></h6>
                    <p class="card-text">Alcohol is expensive, processed, and hangover-inducing. Water is
                        inexpensive, organic, and hangover-preventing. Be smart. Be a hydro homie.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">BE IN CONTROL.</h2>
                    <h6 class="card-subtitle mb-2 text-muted"><em>Keep the party at the party.</em></h6>
                    <p class="card-text">Don't let one night of fun ruin the rest of your life. Ubers will always be
                        cheaper
                        than hospital bills or bail bonds.
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock %}

</html>